<% @history.each do |his| %>
  <table class="table table-bordered">
    <thead>
      <th colspan="4" class="table-active font-weight text-center text-success">
        <%= text_date_history(his) %> <%= translate_date(his.created_at) %>
      </th>
    <% if his.received.blank? && his.removed.blank? %>
      <tr>
        <% if his.received.blank? && his.notice.present? %>
          <th class="text-success">Observação: <%= his.notice %></th>
        <% elsif his.received.blank? && his.allocation_id.present? %>
          <th class="text-success">Nova lotação: <%= allocation(his.allocation_id) %></th>
        <% else %>
          <th class="text-success">Novo usuário vinculado: <%= his.last_user %></th>
        <% end %>
      </tr>
    <% else %>   
        <tr>
          <th width="50%" colspan="2" class="text-success">Ativos recebidos</th>
          <th width="50%" colspan="2" class="text-success">Ativos removidos</th>
        </tr>
      </thead>
      <tbody>
        <% if his.received.blank? %>
          <tr>
          <td colspan="2">Nenhum ativo recebido
        <% else %>
          <% his.received.each do |rec| %>
            <tr>
              <td class="text-center"><%= tombo_asset(rec["ativo_id"]) %>
              <td><%= rec["description"] %>     
          <% end %>
        <% end %>
        <% if his.removed.blank? %>
          <td colspan="2">Nenhum ativo removido
        <tr>
        <% else %>
          <% his.removed.each do |rem| %>
              <td class="text-center"><%= tombo_asset(rem["ativo_id"]) %>
              <td><%= rem["description"] %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    <% end %>
  </table>
<% end %>
