<h1 class="h3 mb-2 text-gray-800">Depósito</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3 text-success">
    <div>
    </div>
    <div>
      <form class="d-sm-inline-block">
        <div class="input-group">
          <input type="text" class="form-control" id="search">
          <%= select_tag 'status', options_from_collection_for_select(@status, 'id', 'description'), 
          :prompt => "Selecione um status", class:"form-control", onchange: 'this.form.submit()' %>
        </div>
      </form>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tombo</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Observações</th>
            <th>
          </tr>
        </thead>
        <tbody>
          <% @deposits.each do |dep| %>
            <tr>
              <td><%= dep.ativo.tombo %></td>
              <td><%= dep.description %></td>
              <td><%= dep.status.description %></td>
              <td><%= dep.observation %></td>
              <td style="width: 12px">
              <%= link_to edit_ativo_pge_deposit_path(dep), remote: true, data: { target: '#form_modal', toggle: 'modal' } do %>
                <i class="fa fa-edit"></i>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-black-50 text-sm">
        Disponíveis: <%= @qtd_available %> | Defeito: <%= @qtd_defect %> | 
        Inservíveis: <%= @qtd_unusable %> | Aguardando garantia: <%= @qtd_awaiting_warranty %>
      </div>
      <%= paginate @deposits %>
    </div>
  </div>
</div>