<h1 class="h3 mb-2 text-gray-800"><%= t('views.bond.title', model: @deposits.model_name.human) %></h1>
<div class="card shadow mb-4">
  <div class="card-header py-3 text-success">
    <div>
    </div>
    <div class="form-inline">
      <%= search_form_for @q, url: ativo_pge_deposits_path, method: :get do |f| %>
        <%= f.select :status_id_eq, options_from_collection_for_select(@status, "id", "description"), {include_blank: 'Pesquise por status'}, class:"form-control", onchange: 'this.form.submit()' %>
        <%= button_tag type:'submit', class:"btn btn-success" do %>
          <i class="fas fa-search fa-sm"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= translate_attribute(@deposits, :tombo) %></th>
            <th><%= translate_attribute(@deposits, :description) %></th>
            <th><%= translate_attribute(@deposits, :status) %></th>
            <th><%= translate_attribute(@deposits, :observation) %></th>
            <th>
          </tr>
        </thead>
        <tbody>
          <% if @deposits.blank? %>
            <tr>
              <td colspan="5" class="text-center text-info"><%= t('views.deposit.not_found') %></td>
            </tr>
          <% else %>
            <% @deposits.each do |dep| %>
              <tr>
                <td width="10%"><%= dep.ativo.tombo %></td>
                <td width="30%"><%= dep.description %></td>
                <td width="15%"><%= dep.status.description %></td>
                <td width="50%"><%= dep.observation %></td>
                <td style="width: 12px">
                <%= link_to edit_ativo_pge_deposit_path(dep), remote: true, data: { target: '#form_modal', toggle: 'modal' } do %>
                  <i  title=<%= t('button.edit') %> class="fa fa-edit"></i>
                <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="text-black-50 text-sm">
        Disponíveis: <%= @qtd_available %> | Defeito: <%= @qtd_defect %> | 
        Inservíveis: <%= @qtd_unusable %> | Aguardando garantia: <%= @qtd_awaiting_warranty %>
      </div>
      <%= paginate @deposits %>
    </div>
  </div>
</div>