<h1 class="h3 mb-2 text-gray-800">Subareas</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <%= link_to new_ativo_pge_subarea_path, remote: true, data: { target: '#form_modal', toggle: 'modal' } do %>
      <button class="btn btn-success" type="button">Nova Subarea</button>
    <% end %>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Descrição
          <th>Área Mãe 
          <th colspan="2" class="text-center">Ações</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @subareas.each do |subarea| %>
          <tr>
            <td><%= subarea.description %></td>
            <td><%= subarea.area.description %></td>
            <td style="width: 10px">
              <%= link_to edit_ativo_pge_subarea_path(subarea), remote: true, data: { target: '#form_modal', toggle: 'modal' } do %>
                <i class="blue fa fa-edit"></i>
              <% end %>
            <td style="width: 10px">
            <%= link_to ativo_pge_subarea_path(subarea), method: :delete, data: {confirm: "Certeza?"} do %>
                <i class="red fa fa-trash"></i>
              <% end %>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @subareas %>
  </div>
</div>
