<% if @admin.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <ul>
        <% @admin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= form_with(model: [ :ativo_pge, @admin ], local: true ) do |form| %>
  <div class="row g-3">
    <div class="control col-md-6">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="control col-md-6">
      <%= form.label :email %>
      <%= form.text_field :email, class:"form-control", placeholder:"@ativos.pge" %>
    </div>
    <div class="control col-md-6"><br>
      <%= form.label :password %>
      <%= form.password_field :password, class:"form-control" %>
    </div>
    <div class="control col-md-6"><br>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class:"form-control" %>
    </div>
  </div>
    <br>
  <div class="text-right">
    <%= form.submit "Salvar", class:"btn btn-xg btn-primary" %>
    <%= link_to ativo_pge_admins_path do %>
      <button class="btn btn-xg btn-danger" data-dismiss="modal">Cancelar</button>
    <% end %>
  </div>
<% end %>
