<h1 class="h3 mb-2 text-gray-800">Administradores</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <%= link_to new_ativo_pge_admin_path, remote: true, data: { target: '#form_modal', toggle: 'modal' } do %>
      <button class="btn btn-success" type="button">Novo Administrador</button>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th>
            <th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.name %></td>
              <td><%= admin.email %></td>
              <td><%= admin.check_active %></td>
              <td style="width: 12px">
                <%= link_to edit_ativo_pge_admin_path(admin), remote: true, data: { target: '#form_modal', toggle: 'modal' } do %>
                  <i class="fa fa-edit"></i>
                <% end %>
              <td style="width: 12px">
                <%= link_to ativo_pge_admin_path(admin), method: :delete, data: {confirm: "Certeza?"} do %>
                  <i class="fa fa-trash" style="color:red"></i>
                <% end %>  
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
