<h1 class="h3 mb-2 text-gray-800">Ativos</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div>
      <%= link_to new_ativo_pge_ativo_path do %>
        <button class="btn btn-success" type="button">Novo Ativo</button>
      <% end %>
      <button type="button" id="btn-vincular" class="btn btn-info">Disponibilizar Ativo</button>
      <%= link_to ativo_pge_ativos_path(format: :pdf) do %>
        <button class="btn btn-warning" type="button">Gerar PDF</button>
      <% end %>
    </div>
    <div>
      <form class="d-none d-sm-inline-block form-inliness mr-auto ml-md-3 my-2 my-md-0 mw-100">
        <div class="input-group">
          <%= search_form_for @q, url: ativo_pge_ativos_path, method: :post do |f| %>
            <%= f.search_field :model_or_tombo_or_serial_or_type_or_brand_cont_all, class:"form-control border-1 small", placeholder:'Pesquisar...' %>
            <%= button_tag type:'submit', class:"btn btn-primary" do %>
              <i class="fas fa-search fa-sm"></i>
            <% end %>
          <% end %>
        </div>
      </form>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th style="width: 10px">
            <input type="checkbox" id="all_ativos" title="Marcar todos os Ativos"></input>
          </th>
          <th>Tombo</th>
          <th>Descrição</th>
          <th>Serial</th>
          <th colspan="2" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @ativos.each do |ativo| %>
          <tr>
            <td><%= check_box_tag("ativos_ids[]", ativo.id, false, class:'marcar') %></td>
            <td><%= ativo.tombo %></td>
            <td><%= ativo.ativo_description %></td>
            <td><%= ativo.serial %></td>
            <td style="width: 10px">
              <%= link_to edit_ativo_pge_ativo_path(ativo) do %>
                <i class="blue fas fa-edit"></i>
              <% end %>
            </td>
            <td style="width: 12px">
              <%= link_to ativo_pge_ativo_path(ativo), method: :delete, data: {confirm: "#{current_admin.name}, você tem certeza que deseja remover: #{ativo.ativo_description}?"} do %>
                <i class="red fa fa-trash"></i>
              <% end %>  
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-black-50 text-sm">Total de ativos: <%= @total_ativos %></div>
    <%= paginate @ativos %>
  </div>
</div>


<%= javascript_include_tag 'application' %>

<script>
  $(document).ready(function () {
    $('#btn-vincular').click(function () {
      var ativos_ids = $('.marcar:checked').map(function () {
        return $(this).val();
      }).get();
      if (ativos_ids == '') {
        alert('Selecione pelo menos um Ativo');
      } else {
        if (this.id == 'btn-vincular') {
          $.post('<%= url_for({ :controller => 'ativos', :action => 'link_to_deposit' })%>?ativos_ids=' + ativos_ids)
        }
      }
    });

    $("#all_ativos").change(function () {
        $('.marcar').prop('checked', $(this).prop("checked"));
    });

    $("#all_ativos").click(function(){
        $('.marcar').not(this).prop('checked', this.checked);
    });

    var all_ativos = $("#all_ativos");
    all_ativos.click(function () {
      if ( $(this).is(':checked') ){
        $('.marcar').prop("checked", true);
      }else{
        $('.marcar').prop("checked", false);
      }
    });
  });
</script>


