<% if @area.errors.any? %>
  <% @area.errors.full_messages.each do |message| %>
  <div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= message %>
  </div>
  <% end %>
<% end %>

<%= form_with(model: [ :ativo_pge, @area ], local: true ) do |form| %>
  <div class="form-group">
    <%= form.label :description %> <br>
    <%= form.text_field :description, class:"form-control border-6 small" %>
  </div>
  <br>
  <hr>
  <div class="text-right">
    <%= form.submit t('button.save'), class:"btn btn-success"%>
    <%= link_to ativo_pge_areas_path do %>
      <button class="btn btn-danger" type="button"><%= t('button.cancel') %></button>
    <% end %>
  </div>
<% end %>
  