<h1 class="h3 mb-2 text-gray-800">Áreas</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <%= link_to new_ativo_pge_area_path, remote: true, data: { target: '#form_modal', toggle: 'modal' } do %>
      <button class="btn btn-success" type="button">Nova Área</button>
    <% end %>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Descrição
          <th colspan="2" class="text-center">Ações</th> 
          </th>
        </tr>
      </thead>
      <tbody>
        <% @areas.each do |area| %>
          <tr>
            <td><%= area.description %></td>
            <td style="width: 10px">
            <%= link_to edit_ativo_pge_area_path(area), remote: true, data: { target: '#form_modal', toggle: 'modal' } do %>
                <i class="blue fa fa-edit"></i>
            <% end %>
            <td style="width: 10px">
            <%= link_to ativo_pge_area_path(area), method: :delete, data: {confirm: "Certeza?"} do %>
                <i class="red fa fa-trash"></i>
            <% end %>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @areas %>
  </div>
</div>

