<div class="control-group nested-fields add_ativo">
  <div class="row g-3">
    <div class="control col-md-2">
      <%= f.select :ativo_id, @tombo_ativo, {include_blank: 'Tombo'}, class:"form-control select_tombo", id:"set_tombo"%>
    </div>

    <div class="control col-md-4" id="disabledSelect">
      <%= f.select :description, @description_ativo.collect{ |da| [da, da]},{prompt: 'Descricão'} ,{class:"form-control", id:"set_description"} %>
    </div>

    <div class="control col-md-2">
      <%= f.select :status_id, @status, {include_blank: 'Status'}, class:"form-control" %>
    </div>
    <% if action_name.eql? 'edit' %>
      <div class="control col-md-3">
        <%= f.text_field :note, class:"form-control"%>
      </div>
    <% end %>

    <div class="control">
      <%= link_to_remove_association(f, class: "btn-sm btn-danger") do %>
        <i class="fa fa-times" style="color:white"></i>
      <% end %>
    </div>
  </div>
</div>
<br>

<script>

$(document).ready(function(){
  $('.select_tombo').select2({
    theme: 'bootstrap'
  });
});

// ###############################

$(document).ready(function(){
  $(".add_ativo #set_tombo").change(function(){
    $.ajax( "/ativo_pge/ativos.json?id=" + this.value )
    .done(function(data){
      var htmlOptions = ""
      for(var i = 0; i<data.length; i++){
        htmlOptions += "<option>" + data[i].type + " " + data[i].brand + " " + data[i].model + "</option>"
      }
      $(".add_ativo #set_description").last().html(htmlOptions);
    })
    .fail(function(){
      alert("error");
    });
  });
});

//$(document).ready(function(){
//  $('.disabledSelect').change(function () {
//    if ($(this).val() == '') {
//        $('.enableOnInput').prop('disabled', true);
//    } else {
//        $('.enableOnInput').prop('disabled', false);
//    }
//  });
//});

</script>
