<% if @bond.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <% @bond.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </div>
<% end %>

<%= form_with(model: [ :ativo_pge, @bond ], local: true ) do |form| %>
  <div class="card shadow mb-4 cascata">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-success">Novo Vinculo</h6>
    </div>
    <div class="card-body">
      <div class="row g-3">
        <div class="form-group col-md-4">
          <code>*</code>
          <%= form.label :area %> <br>
          <%= form.select(:area, @area_select, {include_blank: 'Selecione ...'}, class:"form-control", id:"set_area") %>
        </div>

        <div class="form-group col-md-4">
          <code>*</code>
          <%= form.label :subarea %> <br>
          <%= form.select("subarea_id", @subarea_select, {include_blank: 'Selecione ...'}, class:"form-control", id:"resp_subarea") %>
        </div>

        <div class="form-group col-md-4">
          <code>*</code>
          <%= form.label :user_id %> <br>
          <%= form.select("user_id", @user_select, {include_blank: 'Selecione ...'}, class:"form-control") %>
        </div>
        
        <div class="form-group col-md-6">
          <%= form.label :note %>
          <%= form.text_field :note, class:"form-control border-6 small" %>
          <code>* Campos obrigatorios</code>
        </div>

        <div class="form-group col-md-4">
          <code>*</code>
          <%= form.label :call_number %>
          <div id='call_number'>
            <%= form.fields_for :call_number do |c_number| %>
              <%= render partial: "call_number_fields", locals: { f: c_number } %>
            <% end %>
          </div>
        </div>

        <div class="form-group col-md-2">
          <br>
          <%= form.check_box :homeoffice %>
          <%= form.label :homeoffice %>
        </div>
        
      </div>
      <h5>Ativos Vinculados</h5>
      <hr>
        <div class="links">
          <%= link_to_add_association(form, :attach_ativo, class: "btn-sm btn-success",
            'data-association-insertion-node' => "#attach_ativo",
            'data-association-insertion-method' => "append") do %>
            <i class="fa fa-plus" style="color:white"></i>
          <% end %>
        </div>
        <br>

        <div id='attach_ativo'>
          <%= form.fields_for :attach_ativo do |at_ativo| %>
            <%= render partial: "attach_ativo_fields", locals: { f: at_ativo } %>
          <% end %>
        </div>
      <hr>
      <div class="text-right">
        <%= form.submit "Salvar", class:"btn btn-success" %>
        <%= link_to ativo_pge_bonds_path do %>
          <button class="btn btn-danger" type="button">Cancelar</button>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

<%= javascript_include_tag 'application' %>

<script>

$(document).ready(function(){
  $('.select2').select2 ({
    theme: 'bootstrap'
  });
});

$(document).ready(function(){
  $(".cascata #set_area").change(function(){
    if(this.value == ""){
      $(".cascata #resp_subarea").html("");
      return
    }
    $.ajax( "/ativo_pge/subareas.json?area_id=" + this.value )
    .done(function(data){
      var htmlOptions = ""
      for(var i = 0; i<data.length; i++){
        htmlOptions += "<option value='" + data[i].id + "'>" + data[i].description + "</option>"
      }
      $(".cascata #resp_subarea").html(htmlOptions);
    })
    .fail(function(){
      alert("error");
    });
  });
});

//$(document).ready(function(){
//  $('.order_service').hide()
//  $('.order_service').last().show()
//})

</script>

