<h1 class="h3 mb-2 text-gray-800">Vinculos</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div>
      <%= link_to new_ativo_pge_bond_path do %>
        <button class="btn btn-success" style="color:write">Novo Vinculo</button>
      <% end %>
        <button type="button" id="btn-termo" class="btn btn-warning" style="color:write">Gerar Termo</button>
    </div>
    <div>
      <form class="d-none d-sm-inline-block form-inliness mr-auto ml-md-3 my-2 my-md-0 mw-100">
        <div class="input-group">
          <%= search_form_for @q, url: ativo_pge_bonds_path, method: :get do |f| %>
            <%= f.search_field :area_cont, class:"form-control border-1 small", placeholder:'Pesquisar...' %>
            <%= button_tag type:'submit', class:"btn btn-primary" do %>
              <i class="fas fa-search fa-sm"></i>
            <% end %>
          <% end %>
        </div>
      </form>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th style="width: 10px">
            <input type="checkbox" id="all_bonds" title="Selecione um Vinculo"></input>
          </th>
          <th>Área</th>
          <th>Subárea</th>
          <th>Usuário</th>
          <th>Observação</th>
          <th>Modalidade</th>
        </tr>
      </thead>
      <tbody>
        <% @bonds.each do |bond| %>
          <tr>
            <td><%= check_box_tag("bonds_ids[]", bond.id, false, class:'marcar') %></td>
            <td><%= bond.subarea.area.description %></td>
            <td><%= bond.subarea.description %></td>
            <td><%= bond.user.name %></td>
            <td><%= bond.note %></td>
            <td><%= bond.check_home_office %></td>
            <td style="width: 12px">
              <%= link_to ativo_pge_bond_path(bond), remote: true, data: { target: '#bondmodal', toggle: 'modal' } do %>
                <i class="fa fa-eye"></i>
              <% end %>
            <td style="width: 12px">
              <%= link_to edit_ativo_pge_bond_path(bond) do %>
                <i class="fa fa-edit"></i>
              <% end %>
            <td style="width: 12px">
              <%= link_to ativo_pge_bond_path(bond), method: :delete, data: {confirm: "Certeza?"} do %>
                <i class="fa fa-trash"></i>
              <% end %>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-black-50 text-sm">Total de vinculos: <%= @total_bonds %></div>
  </div>
</div>
<%= paginate @bonds %>

<%= javascript_include_tag 'application' %>

<script>
  $(document).ready(function () {
    $('#btn-termo').click(function () {
      var bonds_ids = $('.marcar:checked').map(function () {
        return $(this).val();
        }).get();
        if (bonds_ids == '') {
          alert('Selecione pelo menos um vinculo');
          } else {
            if (this.id == 'btn-termo') {
              window.open('<%= url_for({ :controller => 'bonds', :action => 'pdf_termo_responsabilidade_ativo' })%>?bonds_ids=' + bonds_ids)
            }
          }
    });
    
    $("#all_bonds").change(function () {
      $('.marcar').prop('checked', $(this).prop("checked"));
    });
        
    $("#all_bonds").click(function(){
      $('.marcar').not(this).prop('checked', this.checked);
    });
        
    var all_bonds = $("#all_bonds");
    all_bonds.click(function () {
      if ( $(this).is(':checked') ){
        $('.marcar').prop("checked", true);
      }else{
        $('.marcar').prop("checked", false);
      }
    });
  });

</script>
