<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag 'ativos' %>
  
  <title >'Login'</title>
</head>

<body class="bg-gradient-light">
  <div class="container">
    <div class="p-5 mt-4">
      <div class="d-flex justify-content-center"> 
        <%= image_tag "logo_pge_center.png", size: "140x120"%>
      </div>
      <div class="d-flex justify-content-center mt-4"> 
        <%= image_tag "service_desk_gren.png", size: "320x70"%>
      </div>
      <div class="text-center mt-4">
        <p class="font-weight-bold text-gray-900">Bem-vindo!</p>
      </div>
      <p class="text-gray-900 text-center col-md-auto">Serviço disponibilizado para gerenciamento dos Ativos <br> que compôem o parque tecnologico da PGE.</p>
        <div class="d-flex justify-content-center row g-3">
          <div class="form-group col-md-5">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="shadow-lg mt-3">
                <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control" %>
              </div>
              <div class="shadow-lg mt-3">
                <%= f.password_field :password, placeholder: "Senha", class: "form-control" %>
              </div>
              <div class="shadow-lg mt-3">
                <%= f.submit "Entrar", class: "btn btn-success btn-block" %>
              </div>                
            <% end %>
          </div>
        </div>                                    
    </div>
  </div>
  
  <% javascript_include_tag 'ativos' %>

  <% if alert %>
    <%= javascript_tag do %>
      $.bootstrapGrowl('<%= alert %>',{
      offset: {from: 'top', amount: 80},
      type: 'danger', 
      align: 'center',
      width: '400',
      delay: 4000, 
      allow_dismiss: true, 
      stackup_spacing: 10 
      });
    <% end %>
  <% end %>
</body>
