<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

<title >Portal Service Desk - Login</title>
    

<%= stylesheet_link_tag 'ativos_session' %>

</head>

<body class="bg-gradient-success">

  <div class="container">
      <!-- Outer Row -->
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6 col-md-9 mt-5">
        <div class="card o-hidden border-8 shadow-lg mt-5">
          <div class="card-body">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
              <div class="col-lg-11">
                <div class="p-5">
                  <div class="figure-img"> 
                    <%= image_tag "service_desk_gren3.png", size: "350x70"%>
                  </div>
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="field mt-5">
                      <%= f.email_field :email, placeholder: "Email", autofocus: true, class:"form-control"%>
                    </div>
                
                    <div class="field mt-3">
                      <%= f.password_field :password, placeholder: "Senha", class: "form-control" %>
                    </div>
                 
                    <div class="actions mt-3">
                      <%= f.submit "Entrar", class: "btn btn-success btn-user btn-block" %>
                    </div>                
                  <% end %>                                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% javascript_include_tag 'ativos_session' %>

</body>

</html>
