<% if @acquisition.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
      <% @acquisition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-success">Nova aquisição</h6>
  </div>
  <div class="card-body">
    <%= form_with(model: [ :ativo_pge, @acquisition ], local: true ) do |form| %>
      <div class="row g-3">
        <div class="form-group col-md-6">
          <%= form.label :item %> <br>
          <%= form.text_field :item, class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <%= form.label :quantity %> <br>
          <%= form.text_field :quantity, class:"form-control" %>
        </div>
        <div class="form-group col-md-3 valor">
          <%= form.label :value %> <br>
          <%= form.text_field :value, class:"form-control"%>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :manager %> <br>
          <%= form.text_field :manager, class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <code>*</code>
          <%= form.label :modality %>
          <%= form.select :modality, Acquisition.modalities.keys, {include_blank: 'Selecione...'}, class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <code>*</code>
          <%= form.label :source %>
          <%= form.select :source, Acquisition.sources.keys, {include_blank: 'Selecione...'}, class:"form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :interested_party %> <br>
          <%= form.text_field :interested_party, class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <%= form.label :acquisition_date %> <br>
          <%= form.date_field :acquisition_date, class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <%= form.label :warranty_period %> <br>
          <%= form.text_field :warranty_period, class:"form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :company %> <br>
          <%= form.text_field :company, class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <%= form.label :warranty_ends %> <br>
          <%= form.date_field :warranty_ends, class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <%= form.label :contract_number, "Nº Contrato" %> <br>
          <%= form.text_field :contract_number, class:"form-control masc-contrato" %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :observacao %> <br>
          <%= form.text_field :empresa_contratada, class:"form-control" %>
          <br>
          <code>* Campos obrigatorios</code><br>
        </div>
        <div class="form-group col-md-3">
          <code>*</code>
          <%= form.label :anexar_contrato, title:"Apenas arquivos PDF" %>
          <%= form.file_field :anexo_contrato, class:"form-control-file", id:"file_contrato"%>
        </div>
        <div class="form-group col-md-3">
          <%= form.label :anexar_aditivo %>
          <%= form.file_field :anexo_aditivo, class:"form-control-file", id:"file_aditivo" %>
        </div>
      </div>
      <hr/>
      <div class="text-right">
        <%= form.submit "Salvar", class:"btn btn-success" %>
        <%= link_to ativo_pge_acquisitions_path do %>
          <button class="btn btn-danger" type="button">Cancelar</button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'application' %>

<script>
  $(document).ready(function(){
    $("#acquisition_value").inputmask('000.000.000.000.000,00');
  });
</script>
