<h1 class="h3 mb-2 text-gray-800">Aquisições</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      <%= link_to new_ativo_pge_acquisition_path do %>
        <button class="btn btn-success" style="color:write">Nova Aquisição</button>
      <% end %> 
    </h6>
  </div>
  <div class="card-body">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantidade</th>
          <th>Valor</th>
          <th>Gestor</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @acquisitions.each do |acquisition| %>
          <tr data-toggle="collapse" data-target="#lista_ativos">
            <td><%= acquisition.item %></td>
            <td><%= acquisition.quantity %></td>
            <td><%= acquisition.value %></td>
            <td><%= acquisition.manager %></td>
            <td style="width: 12px">
              <%= link_to edit_ativo_pge_acquisition_path(acquisition) do %>
                <i class="fa fa-edit"></i>
              <% end %>
            <td style="width: 12px">
              <%= link_to ativo_pge_acquisition_path(acquisition), method: :delete, data: {confirm: "Certeza?"} do %>
                <i class="fa fa-trash"></i>
              <% end %>  
            </td>

            <tr id="lista_ativos" class="collapse">
              <td class="table-light" colspan="6">

              </td>  
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>