<h1 class="h3 mb-2 text-gray-800">Aquisição</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      <%= link_to new_ativo_pge_acquisition_path do %>
        <button class="btn btn-success" style="color:write">Nova Aquisição</button>
      <% end %> 
    </h6>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th width="10%">Nº Contrato</th>
          <th width="50%">Item</th>
          <th width="12%">Quantidade</th>
          <th width="30%">Gestor</th>
          <th colspan="3" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @acquisitions.each do |acquisition| %>
          <tr>
            <td><%= acquisition.contract_number %></td>
            <td><%= acquisition.item %></td>
            <td><%= acquisition.quantity %></td>
            <td><%= acquisition.manager %></td>
            <td style="width: 12px">
              <%= link_to ativo_pge_acquisition_path(acquisition) do %>
                <i title="Visualizar" class="gray fa fa-eye"></i>
              <% end %>
            <td style="width: 12px">
              <%= link_to edit_ativo_pge_acquisition_path(acquisition) do %>
                <i title="Editar" class="blue fa fa-edit"></i>
              <% end %>
            <td style="width: 12px">
              <%= link_to ativo_pge_acquisition_path(acquisition), method: :delete, data: {confirm: "Certeza?"} do %>
                <i title="Excluir" class="red fa fa-trash"></i>
              <% end %>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
