<!DOCTYPE html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portal Service Desk</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'ativos' %>

  </head>

  <body id="page-top">
    <div id="wrapper">
      <%= render partial: 'layouts/sidebar' %>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%= render partial: 'layouts/navbar' %>
        <div class="container-fluid">
          <%= yield %>   
        </div>
      </div>
      <div>
        <%= render partial: 'layouts/footer' %>
      </div>
    </div>

    <!-- Modal Show-->
    <div class="modal fade" id="bondmodal" tabindex="-1" aria-labelledby="bondmodalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <!-- Modal Form-->
    <%= render partial: 'layouts/form_modal' %>

    <!-- Modal History-->
    <div class="modal fade" id="historymodal" tabindex="-1" aria-labelledby="historymodalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'ativos'%>
    
  
    <% if notice %>
      <%= javascript_tag do %>
        $.bootstrapGrowl('<%= notice %>',{
        type: 'success', 
        align: 'center',
        width: 550,
        delay: 3000, 
        allow_dismiss: true, 
        stackup_spacing: 10 
        });
      <% end %>
    <% end %>

    <script>
      $(document).ready(function(){
        setTimeout(function(){
        $(".alert-danger").fadeTo(900,0,function(){
          $(this).remove()
          })
        },2000)
      });
    </script>
  </body>
</html>
